<launch>

    <!-- launch settings, CHECK before launch -->
    <arg name="play_bag" default="true"/>
    <arg name="record_bag" default="false"/>
    <arg name="use_foxglove" default="true" />

    <!-- function settings -->
    <arg name="bag_folder" default="/home/user/localization-ws/src/localization-devel-ws/bag" />
    <!--                     PLAY                        -->
    <arg name='name_of_play_file' default='0211_omni_fast_rotate' />
    <!--                    RECORD                       -->
    <arg name='name_of_record_file' default='small_cov' />

    <!-- functions -->
    <executable cmd="ros2 bag play $(var bag_folder)/$(var name_of_play_file) --clock --topic /odoo_googoogoo /raw_obstacles /imu/data_raw" output="screen" if="$(var play_bag)"/>
    <executable cmd="ros2 bag record --output $(var bag_folder)/$(var name_of_record_file) /local_filter /final_pose /lidar_pose" output="screen" if="$(var record_bag)"/>
    <executable cmd="ros2 topic echo /odoo_googoogoo geometry_msgs/Twist" output="screen" if="$(var record_bag)"/>
    
    <node pkg="ekf" exec="ekf_node" name="ekf_node" output="screen">
        <param name="robot_parent_frame_id" value="map" />
        <param name="robot_frame_id" value="base_footprint" />
        <param name="/use_sim_time" value="true" />
    </node>

    <node pkg="lidar_localization_pkg" exec="lidar_localization" name="lidar_localization" output="screen">
        <param name="side" value="1"/>
        <param name="debug_mode" value="False"/>
        <param name="visualize_candidate" value="False"/>
        <param name="likelihood_threshold" value="0.002"/>
        <param name="consistency_threshold" value="0.9"/>
    </node>

    <include file="$(find-pkg-share foxglove_bridge)/launch/foxglove_bridge_launch.xml" if="$(var use_foxglove)">
        <arg name="port" value="8765" />
    </include>


</launch>